@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.App {
  width: 100%;
  color: black;
}

.hero-body {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  gap: 26px;
  align-items: center;
  justify-items: center;
  background-color: rgb(240, 255, 254);
  min-height: 62vh;
}

.loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .main-container {
  padding-left: 0;
  padding-right: 0;
}

.saved-meals {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  max-width: 320px;
}

.card-title {
  font-size: 10px;
}
